
/*Styling når chatten er lukka*/
.Chat {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #fff;
    z-index: 999;
    border-radius: 50%;
}

.chatButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

/*Styling når chatten er åpen*/
.chatDialog {
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Chat-header */
.chatHeader {
    background-color: #000; /* Endret til svart */
    color: #fff; /* Endret tekstfarge til hvit */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatHeader h2 {
    margin: 0;
    font-size: 18px;
}

.closeChat {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

/* Chat-body */
.chatBody {
    padding: 15px;
    height: 300px;
    overflow-y: auto;
    max-width: 80%; /* Legg til denne linjen for å begrense bredden */
    margin: 0 auto; /* Sentrer containeren */
}

.chatMessage, .botMessage {
    font-size: 14px;
}

.chatMessage {
    background-color: #007bff;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    word-wrap: break-word;
}

.botMessage {
    background-color: #e9ecef;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    word-wrap: break-word;
}
/*Chat-footer*/
.chatFooter {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #eee;
}

.messageInput {
    flex: 1;
    padding: 10px 15px;
    border: 2px solid #007bff;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s;
}

.messageInput {
    width: 100%;
    padding-right: 40px;
    border: none;
    border-bottom: 1px solid #ccc; /* Legg til en understrek */
    outline: none;
    font-size: 16px;
}

.SendMessage {
    color: black;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px; /* Optional for styling */
}
