/*Inspirasjon fra https://www.w3schools.com/css/css_navbar.asp og https://www.w3schools.com/css/css_dropdowns.asp*/
* {
    font-family: 'Varela Round', sans-serif;
}
/* Tilpasset for Flexbox */
.topnav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; /* Sikrer at barna fordeles fra venstre til høyre */
    overflow: hidden;
}


    .topnav a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none; /* Fjerne strek under linkene */
        font-size: 17px;
        font-weight: 400;
        margin: 0 10px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #04AA6D;
            color: white;
        }

    .topnav .icon {
        display: none;
    }


.left-aligned-items {
    /* Beholder standard flex-oppførsel */
}

.right-aligned-items {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end; /* Justerer navigasjonselementene til høyre */
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav {
        justify-content: space-between;
    }

        .topnav a, .topnav .icon, .right-aligned-items a {
            display: none;
        }

            .topnav a.icon, .topnav .icon {
                display: block;
                position: absolute;
                right: 0;
                top: 0;
            }

        .topnav.responsive .right-aligned-items, .topnav.responsive a, .topnav.responsive .icon {
            display: block;
            text-align: left;
        }

        .topnav.responsive .right-aligned-items {
            flex-direction: column;
        }

        .topnav.responsive .icon {
            position: static; /* Justerer ikonets posisjon i responsiv modus */
        }
}
@media screen and (max-width: 600px) {
    .topnav {
        justify-content: space-between;
    }

    .topnav a, .topnav .icon {
        display: none;
    }

    .topnav a.icon, .topnav .icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 14px 16px;
        color: black;
        font-size: 17px;
        text-align: center;
        margin: 0 10px;
        text-decoration: none;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        flex-direction: column;
        align-items: flex-start;
    }

    .topnav.responsive a, .topnav.responsive .icon {
        display: block;
        text-align: left;
    }

    .topnav.responsive .icon {
        align-self: flex-end;
    }
}
