/*Inspirasjon fra https://www.w3schools.com/css/css_navbar.asp og https://www.w3schools.com/css/css_dropdowns.asp*/
* {
    font-family: 'Varela Round', sans-serif;
}

.topnav, #navItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navTekst {
    display: inline-block; /*M� ha med for at span blir lik som resten*/
    color: black;
    text-align: center;
    margin: 0 10px;
    text-decoration: none; /*Fjerne strek under linkane*/
    font-size: 17px;
    font-weight: 400;
}

#navItems {
    margin-left: auto;
}

.topnav a:hover {
    text-decoration: none; /*Fjerne strek under linkane*/
}

.dropDownContent {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid #ddd;
    z-index: 1; /* Dropdown p� toppen */
    right: 0;
    background-color: #fff;
}

.dropDown:hover .dropDownContent {
    display: block;
}

#dropDownIkon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    margin: 10px;
}

@media (max-width: 550px) {
    #navItems {
        display: none
    }
    #dropDownIkon {
        display: block;
    }
    #dropDownIkon:hover + #navItems {
        display: block;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border-radius: 5px;
        border: 1px solid #ddd;
        z-index: 1; /* Dropdown p� toppen */
        right: 0;
        background-color: #fff;
    }
}
