/*Inspirasjon fra https://www.w3schools.com/css/css_navbar.asp og https://www.w3schools.com/css/css_dropdowns.asp*/
* {
    font-family: 'Varela Round', sans-serif;
}

.topnav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navTekst {
    display: inline-block; /*M� ha med for at span blir lik som resten*/
    color: black;
    text-align: center;
    margin: 0 10px;
    text-decoration: none; /*Fjerne strek under linkane*/
    font-size: 17px;
    font-weight: 400;
}
.topnav > :first-child {
    margin-right: auto; /* Pusher navbaren til h�gre :) */
}

.topnav a:hover {
        text-decoration: none; /*Fjerne strek under linkane*/
}

.dropDownContent {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid #ddd;
    z-index: 1; /* Dropdown p� toppen */
    right: 0;
    background-color: #fff;
}

.dropDown:hover .dropDownContent {
    display: block;
}

#dropDownIkon {
    display: none;
    font-size: 24px; /* Adjust the size here */
    margin: 10px; /* Adjust the margins as needed */
}

@media (max-width: 550px) {
    .navTekst{
        display: none
    }
    #dropDownIkon {
        display: block;
        margin-left: auto;
    }

    
}
