.img-style {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center;
    object-fit: cover;
    image-rendering: auto;
}

.bildeSeksjon {
    border-radius: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.bildeSeksjon img {
    position: relative;
    width: 100%;
}

.bildeSeksjon h1 {
    font-family: "Volkhov", serif;
    font-size: 60px;
    line-height: 55px;
    text-align: center;
}

.bildeTekst {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 30px
}

.bildeTekst h1, h4 {
    margin: 0;
}

.bildeKnapp {
    padding: 10px 30px;
    font-size: 0.9rem;
    background-color: transparent; /* Gjør bakgrunnen gjennomsiktig */
    color: black;
    border: 2px solid black; /* Legg til en svart border */
    border-radius: 15px;
    cursor: pointer;
}

.bildeKnapp:hover {
    background-color: white; /* Endre bakgrunnsfargen ved hover til svart */
}

.bildeTekst h4 {
    margin-bottom: 20px; /* Legg til mer margin under h4-elementet */
    margin-top: 10px;
}

.bildeKnapp {
    margin-top: 30px; /* Legg til margin over knappen */
}

/*Regnskap delen*/

.regnskapsSeksjon h2 {
    margin-top: 50px;
}

.regnskapsBoks {
    display: flex;
    justify-content: center;
}

.regnskapsKort {
    border-bottom-width: 4px;
    border-color: #e9ecef;
    border-left-width: 4px;
    border-right-width: 4px;
    border-style: solid;
    border-top-width: 4px;
    background-color: #fff;
    border-radius: 5px;
    height: 357px;
    left: 435px;
    top: 1092px;
    width: 287px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Plasserer innholdet vertikalt sentrert */
    align-items: center; /* Plasserer innholdet horisontalt sentrert */
    text-align: center; /* Sørger for at teksten er sentrert */
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.regnskapsSeksjon img {
    max-width: 40px;
    max-height: 40px;
}

.regnskapsKnapp {
    background-color: #007bff; /* Blå bakgrunnsfarge */
    color: #fff; /* Hvit tekstfarge */
    border: 2px solid #007bff; /* 2 piksler bred solid svart grense */
    font-size: 100%;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    border-radius: 6px;
    height: 44px;
    line-height: 1.15;
    padding: 20px 60px;
    margin-bottom: 20px;
}

.regnskapsKnappTekst {
    color: #FFF;
}
/*Møt oss*/
.møtOssSeksjon h1 {
    padding-bottom: 20px;
    text-align: center;
    font-size: 2rem;
}

.kontaktOssBoks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.kontaktOssKort {
    padding: 10px;
    flex: 50%;
}

.kontaktOssKort img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.kontaktOssKort h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.kontaktOssKort p {
    font-size: 0.75rem; /* Størrelse til "STATSAUTORISERT REGNSKAPSFØRER" */
}

/*Våre partnere*/

.partnereBakgrunn {
    padding: 120px;
    background-color: #f8ecdc;
}
.partnereSeksjon{
    margin-top:40px;
}

/*Kontakt oss*/

.kontaktBilde {
    display: flex;
    position: relative; /*Absolut posisjon inne i boksen*/
    overflow: hidden;
}

.kontaktBilde img {
    width: 100vw; /* Bredde tilsvarer 100% av vindusbredden */
    height: auto; /* Beholder bildets sideforhold */
    max-height: 60vh; /* Begrenser maksimal høyde til 60% av vindushøyden */
    display: block; /* Fjerner eventuelle ekstra mellomrom under bildet */
    margin: 0; /* Fjerner marginer for å sikre at bildet tar hele bredden */
}

.kontaktTekstboks {
    position: absolute; /* Posisijonen til tekstboksen er absolutt (ikkje fleks, men fortsatt inne i ein fleksboks) */
    left: 0; /* Fanger til venstre */
    top: 10%;
    width: 50%; /* bruker berre 50% av breidda */
    padding-top: 30px; /* Padding rundt teksten */
    padding-bottom: 20px;
}

.kontaktTekstboks h1 { /*Hovudtittel*/
    font-family: "Trocchi", "Trocchi Placeholder", serif;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 20px;
    color: rgb(43, 43, 43);
    text-transform: uppercase;
}

.kontaktTekstboks h2 { /*Brødtekst*/
    padding-top: 50px; /*Avstand til overskrift*/
    padding-bottom: 25px;
    color: black;
    font-size: 20px;
    height: auto;
    pointer-events: auto;
    user-select: none;
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
    font-family: "Cormorant", "Cormorant Placeholder", serif;
    font-size: 31px;
    line-height: 40.3px;
    text-align: right;
    color: rgb(125, 75, 39);
    width: 80%;
    margin-left: auto;
    margin-right: auto; /* margin auto er nødvendig for at innhaldet blir senterert etter width:XX% */
}

.kontaktTekstboks p { /*Kontakt oss-knapp*/
    display: inline-block; /*Gjer at boksen ikkje tek meir plass enn innholdet + marg*/
    border: 2.67px double #7d4b27;
    border-radius: 2px;
    background-color: #fcf7e5bf;
    box-shadow: 0 0 0 1px #333;
    overflow: visible;
    font-family: "Cormorant", "Cormorant Placeholder", serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.4px;
    line-height: 32px;
    text-align: center;
    color: rgb(125, 75, 39);
    text-transform: uppercase;
    padding: 20px 20px;
}