.container {
    display: flex;
    gap: 40px;
}
* {
    font-family: 'Varela Round', sans-serif;
}

.box {
    flex: 1;
    height: 300px;
    background-color: white;
    text-align: left;
}


.App {
    min-height: 300vh;
}
.box h2 {
    font-weight: bold; /* Make the headings bold */
}


.box h3 {
    font-size: 20px;
    font-weight: bold;
}

.box p {
    font-size: 20px;
}

/*Styling for link elementet*/
.Link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    margin-top: 700px; 
}
    .Link ul {
        list-style-type: disc; 
        padding-left: 20px; 
    }

    .Link li {
        margin-bottom: 5px; 
    }

    .Link a {
        text-decoration: none; 
        color: #000;
    }

        .Link a:hover {
            text-decoration: underline; 
        }


/* Responsiv styling for mindre skjermer */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 30px; 
    }

    .box {
        height: auto; 
    }

    .box h1 {
        font-size: 25px;
    }

    .box h3 {
        font-size: 15px; 
    }

    .box p {
        font-size: 15px; 
        line-height: 1.8; 
        margin-bottom: 15px; 
    }
    .Link {
        margin-top: 0px;
    }
}
/* Responsiv styling for middels skjermer */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        gap: 50px; 
    }
}

/* Responsiv styling for store skjermer (f.eks. iPad Air) */
@media screen and (min-width: 1025px) {
    .box h1 {
        font-size: 40px;
    }

    .box h2 {
        font-size: 32px; 
    }

    .box h3,
    .box p,
    .box ul,
    .box ol,
    .box li {
        font-size: 30px;
    }
}
/*dette trenger å fikses, må legge til større skriftstørrelse for både ol,ul, oh h1*/