.container {
    display: flex;
    gap: 40px;
}
* {
    font-family: 'Varela Round', sans-serif;
}

.box {
    flex: 1;
    height: 300px;
    background-color: white;
    text-align: left;
}

 

.box h2 {
    font-weight: bold; /* Make the headings bold */
}


.box h3 {
    font-size: 20px;
    font-weight: bold;
}

.box p {
    font-size: 20px;
}

.Link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: 100vw;
    height: 100vh;
    
}

/* Responsiv styling for mindre skjermer */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 30px; 
    }

    .box {
        height: auto; 
    }

        .box h3 {
            font-size: 15px; 
        }

        .box p {
            font-size: 15px; 
            line-height: 1.8; 
            margin-bottom: 15px; 
        }
}